.artist-name{
    font-size: 14px;
    text-underline-offset: 4px;
}

.artist-name:hover{
    text-decoration: underline;
    color: #a0a0a0;
}
a{
    text-decoration: none;
    color: #a0a0a0;
}

.single-artist{
    display: inline;
}

