.artist-name a{
    text-decoration: none;
    font-size: 14px;
    color: #a0a0a0;
    text-underline-offset: 4px;
    
}

.artist-name a:hover{
    text-decoration: underline;
}

.single-artist{
    display: inline;
}

