.cover-image {
    position: relative;
}

img {
    height: auto;
    width: 100%;
    max-width: 640px;
}

.album {
    margin: 10px;
}


.icons-container {
    visibility: hidden;
    display: flex;
    height: 105%;
    width: 105%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.icons-container:hover {
    background: rgba(0, 0, 0, 0.6);
    transition: .4s;
}

.icon {
    opacity: 0.7;
    width: 35px;
    height: 35px;
}

.icon:hover {
    opacity: 1;
    transform:scale(1.3);
}
