:root {
  margin: 0;
  font-family:Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

.album-container{
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  
}

