:root {
  margin: 0;
  font-family: "helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

.album-container {
  display: grid;
  grid-template-columns: repeat(4,  minmax(0, 1fr));
  gap: 25px;
}

.section {
  font-size: large;
  font-weight: bold;
  padding: 1em 2em;
  border-bottom: 1px solid #5a5a5a;
  margin: 25px;
  margin-top: 50px;
}

/* On 1080px-screens and less */
@media screen and (max-width: 1080px) {
  .album-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* On 630px-screens and less */
@media screen and (max-width: 630px) {
  .album-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
